<div class="pt-7">

    <div class=" mb-2 ml-8">
        <div class="grid grid-cols-1 gap-4 w-full mt-5 ">
            <div
                class="block mr-5 rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-700">
                <div class="p-8">
                    <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                        Card title
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="grid gap-2 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 mr-5">

        <div class="col-span-2">
            <div class=" mb-2 ml-8">
                <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 w-full mt-5 ">
                    <div
                        class="block mr-5 rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-700">
                        <div class="p-8">
                            <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                                500Chow - Lekki Phase 1
                            </h5>
                            <p> ₦ Min. order ₦2,000.00 Min. delivery fee ₦450.00 <a href="">More info</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" mb-2 ml-8">
                <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-4 w-full mt-5 ">
                    <div
                        class="block mr-5 rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-700">
                        <div class="p-8">
                            <ul class="mb-5 flex list-none flex-col flex-wrap border-b-0 pl-0 md:flex-row"
                                role="tablist" data-te-nav-ref>
                                <li role="presentation" *ngFor="let food of fooditems">
                                    <a href="#tabs-{{food.itemId}}" id="{{food.itemId}}" (click)="setData($event)"
                                        class="font-sans font-bold my-2 block border-x-0 border-t-0 border-b-2 border-transparent px-7 pt-4 pb-3.5 text-xs uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-mexican-red data-[te-nav-active]:text-mexican-red dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-mexican-red-400"
                                        data-te-toggle="pill" data-te-target="#tabs-${food.itemId}" data-te-nav-active
                                        role="tab" aria-controls="tabs-${food.itemId}"
                                        aria-selected="true">{{food.itemCategory}}</a>
                                </li>
                                <!-- <li role="presentation">
                            <a href="#tabs-profile"
                                class="font-sans font-bold focus:border-transparent my-2 block border-x-0 border-t-0 border-b-2 border-transparent px-7 pt-4 pb-3.5 text-xs uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate data-[te-nav-active]:border-primary data-[te-nav-active]:text-primary dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-primary-400"
                                data-te-toggle="pill" data-te-target="#tabs-profile" role="tab"
                                aria-controls="tabs-profile" aria-selected="false">All Orders</a>
                        </li> -->
                                <li role="presentation">
                                    <a href="#tabs-messages"
                                        class="font-sans font-bold my-2 block border-x-0 border-t-0 border-b-2 border-transparent px-7 pt-4 pb-3.5 text-xs uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[te-nav-active]:border-mexican-red data-[te-nav-active]:text-mexican-red dark:text-neutral-400 dark:hover:bg-transparent dark:data-[te-nav-active]:border-primary-400 dark:data-[te-nav-active]:text-mexican-red-400"
                                        data-te-toggle="pill" data-te-target="#tabs-messages" role="tab"
                                        aria-controls="tabs-messages" aria-selected="false">Chicken</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" mb-2 ml-8">
                <div class="grid grid-cols-1 gap-4 w-full">
                    <div
                        class="block mr-5 rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-700">
                        <!-- <div class="p-8"> -->
                        <!-- <div class="mb-6"> -->
                        <div class="hidden opacity-0 opacity-100 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                            id="tabs-home" role="tabpanel" aria-labelledby="tabs-home-tab" data-te-tab-active>
                            <div class="flex justify-between items-center">
                                <div
                                    class="block max-w-[14rem] rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-700">
                                    <a href="#!" data-te-ripple-init data-te-ripple-color="light">
                                        <img class="rounded-t-lg" src="../../../assets/images/burger1.png" alt="" />
                                    </a>
                                </div>
                                <div class="py-4">
                                    <h5
                                        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                                        Chairman Chicken Fried Chow
                                    </h5>
                                    <p>Enjoy our tasty chicken served with fried rice, a side dish and a drink</p>
                                </div>
                                <div class="justify-between">
                                    <p class="py-4 float-left font-sans">₦3,000.00
                                    </p>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="w-6 h-6 text-mexican-red">
                                        <path fill-rule="evenodd"
                                            d="M12 5.25a.75.75 0 01.75.75v5.25H18a.75.75 0 010 1.5h-5.25V18a.75.75 0 01-1.5 0v-5.25H6a.75.75 0 010-1.5h5.25V6a.75.75 0 01.75-.75z"
                                            clip-rule="evenodd" />
                                    </svg>

                                </div>
                            </div>
                            <hr>
                            <div class="flex justify-between items-center">
                                <div
                                    class="block max-w-[14rem] rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-700">
                                    <a href="#!" data-te-ripple-init data-te-ripple-color="light">
                                        <img class="rounded-t-lg" src="../../../assets/images/burger.png" alt="" />
                                    </a>
                                </div>
                                <div class="py-4">
                                    <h5
                                        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                                        Chairman Chicken Fried Chow
                                    </h5>
                                    <p>Enjoy our tasty chicken served with fried rice, a side dish and a drink</p>
                                </div>
                                <div class="justify-between">
                                    <p class="py-4 float-left font-sans">₦3,000.00
                                    </p>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="w-6 h-6 text-mexican-red">
                                        <path fill-rule="evenodd"
                                            d="M12 5.25a.75.75 0 01.75.75v5.25H18a.75.75 0 010 1.5h-5.25V18a.75.75 0 01-1.5 0v-5.25H6a.75.75 0 010-1.5h5.25V6a.75.75 0 01.75-.75z"
                                            clip-rule="evenodd" />
                                    </svg>

                                </div>
                            </div>
                        </div>


                        <!-- <div class=" hidden opacity-0 transition-opacity duration-150 ease-linear
                            data-[te-tab-active]:block" id="tabs-profile" role="tabpanel"
                            aria-labelledby="tabs-profile-tab">
                            <app-all-orders></app-all-orders>
                    </div> -->


                        <div class="hidden opacity-0 transition-opacity duration-150 ease-linear data-[te-tab-active]:block"
                            id="tabs-messages" role="tabpanel" aria-labelledby="tabs-messages-tab">

                            <div class="flex justify-between items-center">
                                <div
                                    class="block max-w-[14rem] rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-700">
                                    <a href="#!" data-te-ripple-init data-te-ripple-color="light">
                                        <img class="rounded-t-lg" src="../../../assets/images/burger.png" alt="" />
                                    </a>
                                </div>
                                <div class="py-4">
                                    <h5
                                        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                                        Chairman Chicken Fried Chow
                                    </h5>
                                    <p>Enjoy our tasty chicken served with fried rice, a side dish and a drink</p>
                                </div>
                                <div class="justify-between">
                                    <p class="py-4 float-left font-sans">₦3,000.00
                                    </p>
                                    <a (click)="Add()">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                            class="w-6 h-6 text-mexican-red">
                                            <path fill-rule="evenodd"
                                                d="M12 5.25a.75.75 0 01.75.75v5.25H18a.75.75 0 010 1.5h-5.25V18a.75.75 0 01-1.5 0v-5.25H6a.75.75 0 010-1.5h5.25V6a.75.75 0 01.75-.75z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </a>


                                </div>
                            </div>

                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </div>
                <br>

            </div>

        </div>


        <div class="...">
            <div
                class="block mt-5 rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-700">
                <div class="p-8">
                    <div>
                        <p class="text-uppercase text-gray-500">ORDER FROM</p>
                        <h5
                            class="mb-2 text-sm font-medium leading-tight font-bold text-neutral-800 dark:text-neutral-50">
                            500Chow - Lekki Phase 1
                        </h5>
                        <p class="text-uppercase text-gray-500">ESTIMATED DELIVERY TIME</p>
                        <h5 class="mb-2 text-sm font-medium leading-tight text-neutral-800 dark:text-neutral-50">50-70
                            minutes</h5>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

</div>