<div class="pt-7">

    <!--subscription type, wallet balance, foodbank(kg amount)-->
    <div class=" mb-2 ml-8">
        <div class="grid grid-cols-1 gap-4 w-full mt-5 ">


            <div
                class="block mr-5 rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-700">
                <div class="p-8">
                    <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                        Card title
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <app-meal-items></app-meal-items>
</div>