<div class="relative min-h-screen flex flex-row bg-gray-100 ">
    <div id="full-screen-example"
        class="left-0 top-0 z-[1035] shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] -translate-x-full flex flex-col w-56 bg-white overflow-hidden data-[te-sidenav-hidden='false']:translate-x-0"
        data-te-sidenav-init data-te-sidenav-hidden="false" data-te-sidenav-mode="side"
        data-te-sidenav-content="#contents">
        <div class="flex items-center justify-center h-20 shadow-md">
            <h1 class="text-3xl uppercase text-indigo-500">Logo</h1>
        </div>
        <ul class="flex flex-col py-4">
            <li *ngFor="let menu of menus">
                <a routerLink="{{menu.url}}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 
                    hover:bg-mexican-red hover:text-white hover:outline-none focus:bg-mexican-red focus:text-white focus:outline-none active:bg-mexican-red active:text-white active:outline-none data-[te-sidenav-state-active]:text-white data-[te-sidenav-state-focus]:outline-none 
                    ">
                    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i
                            class="bx bx-home"></i></span>
                    <span class="text-sm font-medium">{{menu.menuName}}</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="contents" style="padding-left: 0px;"
        class=" w-screen !pl-[0px] text-center flex-1 w-full overflow-hidden pl-0">
        <header class="flex items-center bg-white justify-end h-20 shadow-md ">
            <span>
                <button id="toggler"
                    class=" float-left m-12 inline-block rounded bg-mexican-red px-3 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-mexican-red-600 hover:shadow-lg focus:bg-mexican-red focus:shadow-lg focus:outline-none focus:ring-0 active:bg-mexican-red-800 active:shadow-lg"
                    data-te-sidenav-toggle-ref data-te-target="#full-screen-example"
                    aria-controls="#full-screen-example" aria-haspopup="true">
                    <span class="block [&>svg]:h-5 [&>svg]:w-5 [&>svg]:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-3 w-3">
                            <path fill-rule="evenodd"
                                d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                </button>
            </span>
            <span style="flex: 1 1 auto"></span>
            <p class="text-2xl text-indigo-500 mr-5">Welcome</p>
        </header>

        <div id="content" class="overflow-auto h-100">
            <div class="container-fluid ml-3 mt-0">
                <router-outlet></router-outlet>
            </div>
        </div>

        <footer class="w-screen bg-black text-center text-white">
            <div class="p-4 text-center" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 Copyright:
                <a class="text-white" href="https://tailwind-elements.com/">Famsfood</a>
            </div>
        </footer>

    </div>
</div>