<header>
    <nav class="relative flex w-full items-center justify-between bg-mexican-red py-5 text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-start"
        data-te-navbar-ref>
        <div class="flex w-full flex-wrap items-center justify-between px-6">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <a routerLink="/app/admin/home" class="font-sans text-white text-xl font-bold">My Site</a>
                </div>
            </div>
            <h2 class="font-sans text-white text-xl font-bold float-right px-6">Welcome</h2>
        </div>
    </nav>
</header>

<nav class="bg-mexican-red z-50">
    <div class="px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-start h-16">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-end">
                <!-- <div class="flex-shrink-0">
                    <a href="#" class="font-sans text-white text-xl font-bold">My Site</a>
                </div> -->
                <div class="hidden sm:block sm:ml-6 right-0">
                    <div class="flex space-x-4">
                        <a routerLink="{{menu.url}}" *ngFor="let menu of menus"
                            class="font-sans text-white hover:bg-white hover:text-black px-3 py-2 rounded-md text-lg font-medium">{{menu.menuName}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="content">
    <div class="container-fluid bg-whitish">
        <router-outlet></router-outlet>
    </div>
</div>


<footer class="bg-black text-center text-white">
    <div class="p-4 text-center" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-whitehite" href="https://tailwind-elements.com/">Famsfood</a>
    </div>
</footer>